<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" id="top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/main.css">
        <title>Puzzle checklist</title>
    </head>
    <body>
        <h1>Puzzle Checklist</h1>
        <div id="content">
            <div id="internal">
                <div id="ideas">
                    <ol>
                        <li>
                            Check the HTML Source for puzzle
                        </li>
                        <li>
                            Does the title of the puzzle help at all?
                        </li>
                        <li>
                            If multiples, is there anything in common? Try searching
                        </li>
                        <li>
                            Can it be anagrammed?
                        </li>
                        <li>
                            First/Later letters of each thing spell anything
                        </li>
                        <li>
                            Can the elements be split into groups?
                        </li>
                        <li>
                            Can the groups be morse/binary encoded? Check 1st, 9th, 17th etc for 0/1/something in common
                        </li>
                        <li>
                            How many elements are there? If 26 - are they letters? If multiple of 8 is it binary?
                        </li>
                        <li>
                            Can this be converted to or from braille?
                        </li>
                        <li>
                            Is this some kind of ASCII art for a word?
                        </li>
                        <li>
                            Can multiple characters be treated as one? e.g. those with a common prefix or suffix?
                        </li>
                        <li>
                            Look at the letters on the a keyboard, is there a pattern here?
                        </li>
                        <li>
                            Is the number of characters square?  Can they be arranged in a grid?
                        </li>
                        <li>
                            Can they be arranged into 2x3?  Are they Braille?
                        </li>
                        <li>
                            Can the picture be a simple word
                        </li>
                        <li>
                            If there are multiple pictures, is there a theme commonality?
                        </li>
                        <li>
                            Check Exif/Size
                        </li>
                        <li>
                            Could it be a flag? Enter some search terms to find flags
                        </li>
                        <li>
                            Run through strings/file, look at results
                        </li>
                        <li>
                            Check file names
                        </li>
                        <li>
                            What times do events happen or how long do they take
                        </li>
                        <li>
                            Check audio channels match
                        </li>
                        <li>
                            Reverse the audio, repeat checklist
                        </li>
                    </ol>
                </div>
                <div id="tools" data-hx-ext="clear-on-event">
                    <form id="anagramForm"
                          data-hx-get="/anagram"
                          data-hx-target="#toolresults"
                          data-hx-indicator="#indicator">
                        <label for="anagramInput">Anagram solver: </label>
                        <input type="text" id="anagramInput" name="input" required pattern="^[A-Za-z0-9?]+$" maxlength="32" />
                    </form>
                    <form id="matchForm"
                          data-hx-get="/match"
                          data-hx-target="#toolresults"
                          data-hx-indicator="#indicator">
                        <label for="matchInput">Word Matcher: </label>
                        <input type="text" id="matchInput" name="input" required pattern="^[A-Za-z0-9?]+$" maxlength="32" />
                    </form>
                    <form id="morseForm"
                          data-hx-get="/morse"
                          data-hx-target="#toolresults"
                          data-hx-indicator="#indicator">
                        <label for="morseInput">Morse: </label>
                        <input type="text" id="morseInput" name="input" required pattern="^[-\.]+$" />
                    </form>
                    <form id="t9Form"
                          data-hx-get="/t9"
                          data-hx-target="#toolresults"
                          data-hx-indicator="#indicator">
                        <label for="t9Input">T9: </label>
                        <input type="text" id="t9Input" name="input" required pattern="^[2-9]+$" />
                    </form>
                    <form id="analyseForm"
                          data-hx-get="/analyse"
                          data-hx-target="#toolresults"
                          data-hx-indicator="#indicator">
                        <label for="analyseInput">Analyse: </label>
                        <input type="text" id="analyseInput" name="input" required pattern="^[A-Za-z0-9? ]+$" />
                    </form>
                    <form id="exifUpload"
                          data-hx-post="/exifUpload"
                          data-hx-encoding="multipart/form-data"
                          data-hx-target="#toolresults"
                          data-hx-trigger="change"
                          data-hx-indicator="#indicator">
                        <label>Exif Checker: </label>
                        <input type="file" id="exifFile" name="exifFile" required />
                    </form>
                    <div id="flagsform">
                        <label for="flagterms">Describe Flag: </label>
                        <input type="text" id="flagterms" name="input"
                               data-hx-get="/flags"
                               data-hx-target="#flagResults"
                               data-hx-trigger="keyup changed delay:500ms"
                               data-hx-indicator="#indicator"/>
                    </div>
                    <img id="indicator" class="indicator" src="/spinner.gif" alt="spinner"/>
                    <div id="toolresults"></div>
                    <div id="flagResults"></div>
                </div>
            </div>
        </div>
        <div id="externaltools">
            <ul>
                <li><a href="https://csmith.github.io/semaphore-o-matic/demo">Semaphore</a></li>
                <li><a href="https://gchq.github.io/CyberChef/">Cyberchef</a></li>
                <li><a href="https://gramener.com/flags">Flags</a></li>
                <li><a href="http://rumkin.com/tools/cipher/">Ciphers</a></li>
                <li><a href="https://www.dcode.fr/en">Decode.fr</a></li>
                <li><a href="https://ptable.com">Periodic Table</a></li>
                <li><a href="https://v2.cryptii.com/text/ita2">ITA2</a></li>
            </ul>
        </div>
        <script src="/htmx@1.2.1.js"></script>
        <script src="/main.js"></script>
    </body>
</html>
