:root {
    --background-colour: #fcfcfc;
    --foreground-colour: #1c1c1c;
    --error-colour: #ffdddd;
    --input-color: #1c1c1c;
    --input-border: #1c1c1c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: #1c1c1c;
        --foreground-colour: #d6d6d6;
        --error-colour: #670000;
        --input-background: #333333;
        --input-color: #d6d6d6;
        --input-border: #5b5b5b;
    }
}

html, body {
    height: 98vh;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-colour);
    color: var(--foreground-colour);
}
h1 {
    border: 0.1em;
    margin: 0.1em;
}
.anchor {
    border: 0.1em;
    margin: 0.1em;
}
a {
    color: var(--foreground-colour);
}
input {
    background-color: var(--input-background);
    color: var(--input-color);
    border: 1px solid var(--input-border);
}

.inlineform {
    display: inline;
}

.inlineform input {
    margin-left: 1em;
}

input:invalid {
    border: 1px solid var(--input-border);
    background-color: var(--error-colour);
    box-shadow: none;
}

input:valid {
    border: 1px solid var(--input-border);
}

#ideas {
    counter-reset: ideas;
    margin: 1em;
}

#ideas>ol {
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4em;
    width: 100%;
}

#ideas>ol>li {
    counter-increment: ideas;
    padding: 0.3em;
}
#ideas>ol>li.common::before {
    content: counter(ideas) ".\00a0💡\00a0" !important;
}
#ideas>ol>li.strings::before {
    content: counter(ideas) ".\00a0🔤\00a0" !important;
}
#ideas>ol>li.images::before {
    content: counter(ideas) ".\00a0🎨\00a0" !important;
}
#ideas>ol>li.videos::before {
    content: counter(ideas) ".\00a0🎞️\00a0" !important;
}
#ideas>ol>li.audio::before {
    content: counter(ideas) ".\00a0🎧\00a0" !important;
}
#ideas>ol>li::before {
    content: counter(ideas) ".\00a0\00a0";
}

#ideas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90vw;
}

#internal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#tools {
    display: grid;
    gap: 1em;
    flex-grow: 1;
}

form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
}

label {
    grid-column: 1 / 2;
}
input[type=text] {
    grid-column: 2 / 3;
}
input[type=file] {
    grid-column: 2 / 3;
}

#externaltools>ul {
    list-style: none;
    padding-left: 0;
}

#toolresults {
    display: flex;
    max-width: 50vw;
    flex-wrap: wrap;
}

.flagResult {
    display: inline-block;
    width: 150px;
    height: 75px;
    text-align: center;
    margin: 3em 1em;
}

.flagResult h2 {
    font-size: 1em;
}

.flagResult img {
    max-width: 150px;
    max-height: 120px;
}