<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" id="top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css">
        <title>Puzzle checklist</title>
    </head>
    <body>
        <h1>Puzzle Checklist</h1>
        <a class="anchor" href="#tools">⬇ Tools ⬇</a>
        <div id="content">
            <form id="categories">
                <label><input type="checkbox" name="common" value="common" checked />common</label>
                <label><input type="checkbox" name="strings" value="strings" />strings</label>
                <label><input type="checkbox" name="images" value="images" />images</label>
                <label><input type="checkbox" name="videos" value="videos" />videos</label>
                <label><input type="checkbox" name="audio" value="audio" />audio</label>
            </form>
            <div id="ideas">
                <ol>
                    <li data-category="common" class="common" hidden="">
                        Check the HTML Source for puzzle
                    </li>
                    <li data-category="common" class="common" hidden="">
                        Does the title of the puzzle help at all?
                    </li>
                    <li data-category="common" class="common" hidden="">
                        If multiples, is there anything in common? Try searching
                    </li>
                    <li data-category="strings" class="strings" hidden="">
                        If multiples, is there anything in common? Try searching
                    </li>
                    <li data-category="strings" class="strings" hidden="">
                        <form class="inlineform" id="anagramForm" action="/anagram">
                            <label>Anagram<input type="text" id="anagramInput" name="input" required pattern="^[A-Za-z0-9?]+$" maxlength="12" /></label>
                            <span>❌</span>
                        </form>
                    </li>
                    <li data-category="strings" class="strings" hidden="">
                        <form class="inlineform" id="matchForm" action="/anagram">
                            <label>Match<input type="text" id="matchInput" name="input" required pattern="^[A-Za-z0-9?]+$" maxlength="12" /></label>
                            <span>❌</span>
                        </form>
                    </li>
                    <li data-category="strings" class="strings" hidden="">
                        First/Later letters of each thing spell anything
                    </li>
                    <li data-category="strings" class="strings" hidden="">
                        Can the elements be split into groups?
                    </li>
                    <li data-category="strings" class="strings" hidden="">
                        Can the groups be morse/binary encoded? Check 1st, 9th, 17th etc for 0/1/something in common
                    </li>
                    <li data-category="images" class="images" hidden="">
                        Can the picture be a simple word
                    </li>
                    <li data-category="images" class="images" hidden="">
                        If there are multiple pictures, is there a theme commonality?
                    </li>
                    <li data-category="images" class="images" hidden="">
                        Check EXIF data
                    </li>
                    <li data-category="images" class="images" hidden="">
                        Check file names, check sizes/dimensions
                    </li>
                    <li data-category="images" class="images" hidden="">
                        Run through strings/file, look at results
                    </li>
                    <li data-category="images" class="images" hidden="">
                        Check file names
                    </li>
                    <li data-category="images" class="images" hidden="">
                        Check sizes/dimensions
                    </li>
                    <li data-category="videos" class="videos" hidden="">
                        What times do events happen or how long do they take
                    </li>
                    <li data-category="videos" class="videos" hidden="">
                        Check file names
                    </li>
                    <li data-category="videos"  class="videos" hidden="">
                        Run through strings/file, look at results
                    </li>
                    <li data-category="audio"  class="audio" hidden="">
                        Check channels match
                    </li>
                    <li data-category="audio"  class="audio" hidden="">
                        Reverse
                    </li>
                </ol>
            </div>
        </div>
        <div id="tools">
            <a class="anchor" href="#top">⬆ Top ⬆</a>
            <ul>
                <li><a href="https://gchq.github.io/CyberChef/">Cyberchef</a></li>
                <li><a href="https://gramener.com/flags">Flags</a></li>
                <li><a href="http://rumkin.com/tools/cipher/">Ciphers</a></li>
                <li><a href="https://ptable.com">Period Table</a></li>
            </ul>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
        <script src="/js"></script>
    </body>
</html>