<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css">
        <title>Puzzle checklist</title>
    </head>
    <body>
        <h1>Puzzle Checklist</h1>
        <div class="list">
            <ol>
                <li>Source</li>
                <li>EXIF</li>
                <li>Patterns</li>
                <li>Anagram<form class="inlineform" action="/anagram"><input type="text" name="input" required pattern="^[A-Za-z0-9?]+$"/></form></li>
                <li>Matches<form class="inlineform" action="/match"><input type="text" name="input" required pattern="^[A-Za-z0-9?]+$"/></form></li>
            </ol>
        </div>
    </body>
</html>


