html, body {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0 auto;
}

.inlineform {
    display: inline;
}

input:invalid {
    border: 1px solid #900;
    background-color: #FDD;
}

input:valid {
    border: 1px solid black;
}